/* body {
    background-color: rgba(0, 0, 0, 0.837);
}

#maindiv {
    margin: auto;
    margin-top: 20px;
    height: 220px;
    width: 520px;
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 5px;
    padding: 50px;
}

span{
    display: inline-block;

}
input {
    text-align: center;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.212);
    height: 45px;
    width: 160px;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: medium;
    font-size: 26px;
    color: aliceblue;
    outline: none;

}

select{
    margin-left: 20px;
    background-color: rgba(81, 78, 78, 0.46);
    border: 1px solid rgba(255, 255, 255, 0.212);
    width: 165px;
    outline: none;
    color: aliceblue;
    font-size: small;
    height: 28px;

}
option{
    border: 1px solid rgba(255, 255, 255, 0.533);
    background-color: rgb(44, 44, 44);
}

#equalspan{
    height: 45px;

    text-align: center;
    color: rgba(240, 248, 255, 0.587);
    font-size: 44px;
    font-weight: bolder;
    margin-left: 20px;
} */
